<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elenaneacsu.healthmate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".screens.login.LogInActivity"
            android:theme="@style/AppTheme.Dark"></activity>
        <activity android:name=".screens.signup.SignUpActivity" />
        <activity
            android:name=".screens.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".screens.logging.water.LogWaterActivity" />
        <activity
            android:name=".screens.logging.water.WaterAnimationActivity"
            android:label=""
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".screens.logging.food.LogFoodActivity" />
        <activity android:name=".screens.logging.food.FoodDetailActivity" />
        <activity android:name=".screens.profile.EditProfileActivity" />
        <activity android:name=".screens.logging.sleep.LogSleepActivity" />
        <activity
            android:name=".screens.recipe.RecipeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".screens.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screens.logging.sleep.SleepAdviceActivity"></activity>
    </application>

</manifest>